body{
	background-color: #533816;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1{
	color: #E9C89E;
	margin-top:5%;
	margin-left:5%;
}

#instructions{
	background-color: #E9C89E;
	float:left;
	padding: 2%;
	margin-left: 5%;
	border-radius: 15%;
	color: #533816;
	font-size:20px;
}


#palette{
	width: 60%;
	height: 500px;
	margin: 20%;
	background-size: 100% 100%;
	background-image: url("../img/palette.png");
	overflow: auto;
}

#colors-container{
	margin-left:50%;
	margin-top: 20%;
}

.colors:hover, .flashing{
	border: white 4px double;
}

.clicked{
	opacity: 1.5;
}

.colors{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}

#color-1{
	background-color:blue;
	width:60px;
	height: 60px;
	float: left;
	margin-right: 25%;
	margin-bottom: 10%;
	border-radius: 50%;
}

#color-2{
	background-color:green;
	width:60px;
	height: 60px;
	float: left;
	margin-right: 25%;
	margin-bottom: 10%;
	border-radius: 50%;
}

#color-3{
	background-color:red;
	width:60px;
	height: 60px;
	float: left;
	margin-right: 25%;
	margin-bottom: 10%;
	border-radius: 50%;
}

#color-4{
	background-color:black;
	width:60px;
	height: 60px;
	float: left;
	margin-right: 25%;
	margin-bottom: 10%;
	border-radius: 50%;
}