body{
	background-color: #533816;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1{
	color: #E9C89E;
	margin-top:5%;
	margin-left:5%;
}

#instructions, #statistics, #moves{
	background-color: #E9C89E;
	float:left;
	padding: 2%;
	margin-left: 5%;
	border-radius: 15%;
	color: #533816;
	font-size:20px;
	border: 2px dashed  #ffffff;
	box-shadow: 0 0 0 5px #B7823F;
}

#level{
	float:left;
	width: 60px;
	height: 60px;
	line-height: 60px;
}

#moves-label{
	float:left;
	width: 80px;
	height: 80px;
	line-height: 60px;
}

#star{
	background-image: url("../img/star.png");
	width: 60px;
	height: 60px;
	background-size: 100% 100%;
	font-size:25px;
	background-repeat: no-repeat;
	float:left;
	line-height: 60px;
	text-align: center;
	color: #E9C89E;
}

#moves-value{
	width: 45px;
	height: 45px;
	font-size:25px;
	float:left;
	line-height: 45px;
	text-align: center;
	background-color: #533816;
	color: #E9C89E;
	border-radius: 100%;
	position: relative;
	top: 8px;
}

#palette{
	width: 60%;
	height: 500px;
	margin-top: 16%;
	margin-left: 16%;
	background-size: 100% 100%;
	background-image: url("../img/palette.png");
	overflow: auto;
}

#colors-container{
	margin-left:50%;
	margin-top: 20%;
}

.colors:hover, .flashing{
	border: white 4px double;
}

.clicked{
	opacity: 1.5;
}

#next-color{
	position: relative;
	color: #533816;
	font-size:29px;
	font-style: italic;
	margin-right: 10%;
	float: left;
	display: none;
	border: 3px solid;
	padding-right: 4%;
	padding-left: 2%;
	border-radius: 25%;
}

.colors{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}

#color-1{
	background-color:blue;
	width:60px;
	height: 60px;
	float: left;
	margin-right: 25%;
	margin-bottom: 10%;
	border-radius: 50%;
}

#color-2{
	background-color:green;
	width:60px;
	height: 60px;
	float: left;
	margin-right: 25%;
	margin-bottom: 10%;
	border-radius: 50%;
}

#color-3{
	background-color:red;
	width:60px;
	height: 60px;
	float: left;
	margin-right: 25%;
	margin-bottom: 10%;
	border-radius: 50%;
}

#color-4{
	background-color:black;
	width:60px;
	height: 60px;
	float: left;
	margin-right: 25%;
	margin-bottom: 10%;
	border-radius: 50%;
}